body {
  background-color: lightgray;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(168, 230, 255);
  text-shadow: rgb(0, 183, 255) 1px 0 20px;
  margin-top: 30px;
}
button, #submit-button {
    width: 100%;
    background-color: rgb(168, 230, 255);
    text-shadow: rgb(0, 183, 255) 1px 0 20px;
}
#show-photo-errors {
    font-size: 40px;
    margin-top: 75px;
    color: rgb(255, 168, 168);
    text-shadow: rgb(255, 0, 0) 1px 0 20px;
}